{% extends "html/base.html" %}
{% load static %}
{% block content %}
<div class="mx-3 mb-2 mt-4" id="goTracking">
    <div class="text-center" style="cursor: auto !important;">
        <div class="row justify-content-center mb-4 pb-5 pt-4">
            <div class="col-md-3 mt-2 ar">
                <div class="card pt-4 profile-card shadowyes">
                    <div class="card-body pt-0">
                        <h5 class="card-title">Afficher les clubs</h5>
                        <hr>
                        <a href="{% url 'clubs' %}" class="btn btn-block btn-primary ar mt-4">Afficher les clubs</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mt-2 ar">
                <div class="card pt-4 profile-card shadowyes">
                    <div class="card-body pt-0">
                        <h5 class="card-title">Afficher les rencontres</h5>
                        <hr>
                        <a href="{% url 'rencontres' %}" class="btn btn-block btn-primary ar mt-4">Afficher les
                            rencontres</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock content %}